MONGODB_URI=mongodb://mongodb:27017
MONGODB_DATABASE=letmerent
MONGODB_COLLECTION=listings
MONGODB_CHRONO_TASKS_COLLECTION=chrono_tasks
MONGODB_UNIQUE_KEY=url
SPIDERS=funda housinganywhere huurwoningen irentalize kamernet
